<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Animals actions</title>

  </head>

  <body>
    <h1 data-position="header">Whats your favorite pet?</h1>


    <section data-position="add-quote">
      <h2>Add Animals</h2>

      <form action="/animals" method="POST">
        <input type="text" placeholder="animal" name="action" />
        <input type="text" placeholder="action" name="action" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <section data-position="animal">

    <h2> Animals </h2>
    <ul class = "animal">
        <% for(var i = 0; i < animal.length; i++) {%>
        <li class = "animal">
            <span>Name: <%= animals[i].animal %></span><br>
            <span>Quote: <%= animals[i].action %></span><br>
            <form action="/updateAnimal/<%= animals[i]._id %>" method="post">
              <input type="submit" value = "Update"  />
            </form>
            <form action="/deleteTeam/<%= teams[i]._id %>" method="post">
              <input type="submit" value = "Delete"  />
              
            </form>
            <div> <br> </div>
        </li>
        <% } %>

    </section>
    
    <a target="blank" href="https://github.com/hunter-mcgriff/quebec-lab-486">Source Code</a>
    </html>
    

    <script src="/main.js"></script>
  </body>
</html>
