<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quebec</title>
</head>
<body>
  <h1> Player Info </h1>

  <br>




<h3> players</h3> 
 <% for(var i=0; i< ObjectId.length; i++) { %>
  <form method="POST" action="/deletePlayers/<%= ObjectId[i]._id %>" style="display: inline-block">
    <%= ObjectId[i].player_name %> ( <%= ObjectId[i].positon %>) (<%= ObjectId[i].number %>)
    <input type="submit" value="delete">
  </form>
  <br/> 
<% } %>
  
    <form action="/players" method="POST">
        <label for="player_name">Player</label>
            <input name="name" value="Dansby Swanson">
        <br>
        <label for="position">position</label>
            <input name="positon" value="SS">
        <br>
        <label for="number">number</label>
            <input name="number" value="7">
        <br>
    <input type="submit" value="submit" />
  </form>
  
  <a href="https://github.com/hunter-mcgriff/quebec-lab-486">GitHub Repo</a><br>
  <a href="https://hunter-mcgriff.github.io/quebec-lab-486/">GitHub Pages</a><br>
  <a href="https://hunter-mcgriff.github.io/quebec-lab-486/">Heroku App</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/index.js"></script>

</html>
